<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIC ASIA</title>
    <link rel="icon" href="{% static 'images/title.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="{% static 'style.css' %}">
  
    <script>
        window.onload = function() {
          var img = document.getElementById("loadingImage");
          img.style.display = "none";
          img.style.position = "fixed";
          window.onbeforeunload = function() {
            img.style.display = "block";
          };
        };
        </script>



</head>
<img id="loadingImage" height="100%" width="100%" style="background-color:white" src="{% static 'images/reloading.gif'%}" alt="Loading..." />



<div class="body">
    {% include 'navbar.html' %}
</div>  

<div class="content">
        {% block content %}
        {% endblock content %}
</div>




</html>
