{% extends 'base.html' %}

{% block content %}
{% for message in messages %}
    <p class="mess">{{message}}</p>
{% endfor %}
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="#" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> UserName</label>
            <input type="text" id="fname" name="firstname" value="{{request.user}}" readonly>
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" value="{{request.user.email}}" readonly>
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="Tokha 3" required>
            <label for="ccnum">Your Credit Card Number</label>
            <input type="text" id="ccnum" name="cardnumber-my" value="{{info.account_number}}" readonly>
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="Kathmandu" required>

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="NY" required>
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="10001" required>
              
              </div>
            </div>
          </div>
          
          
          <div class="col-50">
            <h3>Payment</h3>
            <div class="pay" >
              <p>
                  <input class="amount"style="margin-left: 60%;" type="textfield" value="$ {{info.amount}}" readonly>
                
              </p> 
            </div>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="Visa" required>
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" required maxlength="16" minlength="16">
            <label for="ccnum">Amount</label>
            <input type="text" id="ccnum" name="amount" placeholder="$1000"  required>
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September" required>
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018" required>
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352" required>
              </div>
            </div>
          </div>
          
        </div>
        <label>
          <input type="checkbox" name="sameadr" required> I agree that the transation is done from my side
        </label>
        <input type="submit" value="Continue to checkout" class="btn">
      </form>
    </div>
  </div>
</div>

{% endblock content %}




