<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylehay.css">
</head>

<body>
    <div class="navbar">

    </div>
    </div>
    <div class="container">


        <!-- left part -->
        <div class="first">

        </div>

        <!-- midd part -->
        <div class="midpost">

            <div class="post">
                <div class="Cpost">
                    <img src="atit.jpg ">
                    <div>
                        <h1>Atit Sharma</h1>
                        <small>Django Developer and CEO of Django pvt ltd.</small>
                        <small>13 hrs ago.</small>
                    </div>
                </div>
                <p>Need Django Developer for New year. If anyone is interested then come to Office for better
                    understanding for Internship</p>
                <img src="p2.png" width="100%">
                <div class="post-react">
                    <div>
                        <img src="like.png">
                        <img src="heart.png">
                        <img src="emoji.png">
                        <img src="angry.png">
                        <span class="liked">1K</span>
                    </div>

                    <div><span>900 Comments &middot; 1.5k Shares</span></div>
                </div>
                <div class="postAct">
                    <div class="actlink">
                        <img src="actlike.png">
                        <span>Like</span>
                    </div>
                    <div class="actlink">
                        <img src="comment.png" >
                        <span>Comment</span>
                    </div>
                    <div class="actlink">
                        <img src="share.png" >
                        <span>Share</span>
                    </div>
                </div>
            </div>

        </div>

        <!-- right part -->
        <div class="last">

        </div>
    </div>

</body>

</html>